.tab_header {
  background-color: lightblue;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.ready_to_order {
  background-color: rgb(193, 255, 184);
}